{% extends "base.html" %}
{% set active_page = "menu1" %}
{% block title %}{{ block_title }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-1"><a href="/log"><img src="{{ url_for('static', filename='images/ic-back.png') }}"
                style="width:50px;height:50px;"></a></div>
    <div class="col-md-11 {{ info["result"] }}">
        <h3>Log Info<span class="lbstatus-md">{{info['filename']}}</span>
        </h3>
    </div>

</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
                <tr calss="tb-header">
                    <th>Test Case</th>
                    <th>Status</th>
                    <th>Started</th>
                    <th>Finished</th>
                    <th>Run Time</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                {% for item in statuses %}
                <tr>
                    <td><a href="./view/{{ item.name }}">{{item.name}}</a></td>
                    {% if item.status|lower == "testing" %}
                    <td class="text-center testing">
                        {% else %}
                    <td class="text-center {{ item.status }}">
                        {% endif %}

                        <span class="lbstatus-sm">{{item.status}}</span>
                    </td>
                    <td class="text-center">{{item.started}}</td>
                    <td class="text-center">{{item.finished if item.finished }}</td>
                    <td class="text-center">{{item.elapsed_time}}</td>
                    <td class="text-center">{{item.reason}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    window.setInterval('refresh()', {{ info['interval']}} * 1000); 	// Call a function every 10000 milliseconds (OR 10 seconds).

    // Refresh or reload page.
    function refresh() {
        if (!($('#batchModal').is(':visible') || $('#checkoutbatch').is(':visible'))) {

            window.location.reload();

        }
    }
</script>

{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
