<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#EBEBE0;border-bottom:3px solid #9ba300;">
                <button type="button" onClick="" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Scan-In Slot <span class="slot-no-heading"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row hidden" style="margin-bottom:10px">
                    <div class="col-md-4" style="text-align:right">
                        Project :
                    </div>
                    <div class="col-md-8">
                        <input id="projectname" type="text" class="form-control" value="CF2SZ183400001" />
                    </div>
                </div>
                <div class="row hidden" style="margin-bottom:10px">
                    <div class="col-md-4" style="text-align:right">
                        Station name :
                    </div>
                    <div class="col-md-8">
                        <input id="test_station" type="text" class="form-control" value="Pre_FCT" />
                    </div>
                </div>
                <div class="row hidden" style="margin-bottom:10px;">
                    <div class="col-md-4" style="text-align:right">
                        Batch ID :
                    </div>
                    <div class="col-md-8">
                        <input disabled name="batch_id" id="batch_id" type="text" class="form-control" value="ABC123" />
                    </div>
                </div>
                <div class="row hidden" style="margin-bottom:10px;">
                    <div class="col-md-8">
                        <input disabled name="slot_no" id="slot_no" type="text" class="form-control" value="" />
                    </div>
                </div>

                <!-- <div class="row" style="margin-bottom:10px">
                    <div class="col-md-4" style="text-align:right">
                        Test Mode :
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" id="testmode">
                            <option value="Production">Production</option>
                            <option value="Debug">Debug</option>
                        </select>

                    </div>
                </div>


                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-4" style="text-align:right">
                        Operator ID :
                    </div>
                    <div class="col-md-8">
                        <input id="operation_id" name="operation_id" type="text" class="form-control" value="" />
                    </div>
                </div> -->
                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-4" style="text-align:right">
                        Serial Number
                    </div>
                    <div class="col-md-8">
                        <input id="serial_number" type="text" name="serial_number" autofocus
                            onfocus="this.value = this.value;" style="text-transform: uppercase" class="form-control" />
                    </div>
                </div>
                {% for item in info['parameter'] %}
                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-4" style="text-align:right">
                        {{ item }}
                    </div>
                    <div class="col-md-8">
                        <input id="{{ item }}" type="text" name="{{ item }}" autofocus
                            onfocus="this.value = this.value;" style="text-transform: uppercase" class="form-control" />
                    </div>
                </div>
                {% endfor %}


            </div>
            <div>
                <p class="text-center">Please insert the PIM module to the Test Chassis.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitScaninmyModal" class="btn btn-primary" onclick="saveScanin()"
                    data-dismiss="modal">Submit</button>item["statuses"]["message"]
                <button type="button" class="btn btn-default" onclick="resetScanin()">Reset</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="batchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onClick="" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="batchModalLabel">Scan-In Batch</span></h4>
            </div>
            <div class="modal-body">
                <div class="row form-inline" id="col-name">
                    <div class="col-md-4 col-sm-4 form-group">
                        <label class="form-label">Test Mode :</label>
                        <select class="form-control" id="testmode">
                            <option value="Production">Production</option>
                            <option value="RMA">RMA</option>
                            <option value="Debug">Debug</option>
                        </select>
                    </div>

                    <div class="col-md-4 col-sm-8 form-group">
                        <label class="form-label">Operator ID :</label>
                        <input id="operation_id" name="operation_id" type="text" class="form-control" value="" />
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>

                <div class="row batch-row-title">
                    <div class="col-md-2 col-sm-2 text-center">
                        Test Slot
                    </div>
                    <div class="col-md-2 col-sm-2 text-center">
                        UUT Serial Number
                    </div>
                    {% if info["parameter"] | length > 0 %}
                    <div class="col-md-2 col-sm-2 text-center">
                        UUT {{info["parameter"] }}
                    </div>
                    <div class="col-md-2 col-sm-2 text-center">
                        LOGOP
                    </div>
                    <div class="col-md-1 col-sm-1 text-center">
                        Status
                    </div>
                    {% else %}
                    <div class="col-md-2 col-sm-2 text-center">
                        LOGOP
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        Status
                    </div>
                    {% endif %}
                </div>
                <div class="batch-col-row">
                    {% for chamber in chambers %}
                    <div class="batch-col-row">
                        <div class="row batch-row-detail {{ "processing" if chamber|length > 0 }}"
                            id="batch-col-row-chamber-{{ loop.index }}">
                            <div class="col-md-2 col-sm-2 text-center">
                                <input id="chamber{{ loop.index }}" class="hidden batch-sn"
                                    value="chamber{{ loop.index + info['slot'] }}" />
                                <input id="code_version{{ loop.index }}" class="hidden batch-code_version"
                                    value="{{ info_versions[loop.index + info['slot'] -1] }}" />
                                <input id="{{ loop.index }}" class="hidden batch-slot_no"
                                    value="{{ loop.index + info['slot'] }}" />
                                <input id="chamber_location{{ loop.index }}" class="hidden batch-slot_location"
                                    value="chamber{{ loop.index + info['slot'] }}" />
                                <input id="param{{ loop.index + info['slot']}}" class="hidden option-param" value="" />
                                <input id="logop{{ loop.index + info['slot']}}" class="hidden logop" value="chamber" />
                                <p class="batch-text-p">
                                    chamber{{ loop.index + info['slot'] }}
                                </p>
                            </div>
                            <div class="col-md-6 col-sm-6 batch-input-col">
                            </div>
                            <div class="col-md-1 col-sm-1 text-center batch-text-col">
                                <p class="batch-text-p status-text"> {{ "processing" if chamber[0]|length > 0 }}</p>
                            </div>
                            <div class="col-md-3 col-sm-3 text-center">
                                <div class="col-md-6 col-sm-6">
                                    <button type="button" id="submitVerify"
                                        class="btn btn-primary btn-block btn-long-word"
                                        onclick="sendVerifyChamber({{ loop.index }})"
                                        {{ "disabled" if chamber|length > 0 }}>Check Chamber</button>

                                </div>
                                <div class="col-md-5 col-sm-5 col-sm-offset-1 ">
                                    <button type="button" id="resetVerifybtn" class="btn btn-default btn-block"
                                        onclick="resetVerifyChamber({{ loop.index }})"
                                        {{ "disabled" if chamber|length > 0 }}>Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for item in tests %}
                    <div class="row batch-row-detail {{ " processing" if item|length> 0 }}"
                        id="batch-col-row-{{ loop.index }}">
                        <div class="col-md-2 col-sm-2 text-center">
                            <input id="slot_no{{ loop.index }}" class="hidden batch-slot_no" value="{{ loop.index }}" />
                            <input id="code_version{{ loop.index }}" class="hidden batch-code_version"
                                value="{{info_versions[loop.index - 1]}}" />
                            <input id="slot_location{{ loop.index }}" class="hidden batch-slot_location"
                                value="{{ info['chassis_name'] }}{{ loop.index }}" />
                            <p class="batch-text-p">
                                {{ info['chassis_name'] }}{{ loop.index }}
                            </p>

                        </div>
                        <div class="col-md-2 col-sm-2 batch-input-col">
                            <input id="sn{{ loop.index }}" type="text" class="form-control batch-sn" onkeyup="this.value = this.value.toUpperCase();"
                                value="{{ item.serial_number if item|length > 0 }}" {{ "disabled" if item|length> 0 }}
                            />
                        </div>
                        {% if info["parameter"] | length > 0 %}
                        <div class="col-md-2 col-sm-2 batch-input-col">
                            <div class="col-md-12 col-sm-12">
                                <input id="param{{ loop.index }}" type="text" class="form-control option-param" value=""
                                    {{ "disabled" if item|length> 0 }} />
                            </div>
                        </div>
                        {% if item | length > 0 %}
                        <div class="col-md-2 col-sm-2 text-center batch-text-col">
                            <div class="col-md-12 col-sm-12">
                                <input disabled id="logop{{ loop.index }}" type="text" class="form-control option-param"
                                    value="{{ item.logop }}" />
                            </div>
                        </div>
                        {% else %}
                        <div class="col-md-2 col-sm-2 text-center batch-text-col">
                            <select class="form-control logop" id="logop{{ loop.index }}">
                                {% for logop in logops %}
                                <option value="{{ logop.name }}">{{ logop.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}
                        <div class="col-md-1 col-sm-1 text-center batch-text-col">
                            <p class="batch-text-p status-text"> {{ "processing" if item|length > 0 }}</p>
                        </div>
                        {% else %}
                        <div class="col-md-4 col-sm-4 text-center batch-text-col">
                            <p class="batch-text-p status-text"> {{ "processing" if item|length > 0 }}</p>
                        </div>
                        {% endif %}
                        <div class="col-md-3 col-sm-3 text-center">
                            <div class="col-md-6 col-sm-6">
                                <button type="button" id="submitVerify" class="btn btn-primary btn-block btn-long-word"
                                    onclick="sendVerify({{ loop.index }})" {{ "disabled" if item|length> 0 }}>Verify
                                    ODC</button>

                            </div>
                            <div class="col-md-5 col-sm-5 col-sm-offset-1 ">
                                <button type="button" id="resetVerifybtn" class="btn btn-default btn-block"
                                    onclick="resetVerify({{ loop.index }})" {{ "disabled" if item|length> 0
                                    }}>Reset</button>
                            </div>
                        </div>
                    </div>

                    {% endfor %}


                </div>
                <div class="row hidden" style="margin-bottom:10px;">
                    <div class="col-md-8">
                        <input disabled name="slot_no" id="slot_no" type="text" class="form-control" value="" />
                    </div>
                </div>

                <div class="row alert alert-danger" role="alert">
                    <p class="text-center">Please insert the PIM module to the Test Chassis.</p>
                </div>
                <div class="row modal-btn">
                    <button type="button" id="submitScanin" class="btn btn-primary" onclick="sendScanin()"
                        data-dismiss="modal" disabled="disabled">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="batchModal-LoadUnit" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onClick="" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="batchModalLabel-lu">Load Unit</span></h4>
            </div>
            <div class="modal-body">
                <div class="row form-inline" id="col-name-lu">
                    <div class="col-md-4 col-sm-4 form-group">
                        <label class="form-label">Test Mode :</label>
                        <select class="form-control" id="testmode-lu">
                            <option value="Production">Production</option>
                            <option value="RMA">RMA</option>
                            <option value="Debug">Debug</option>
                        </select>
                    </div>

                    <div class="col-md-4 col-sm-8 form-group">
                        <!-- <label class="form-label">Operator ID :</label>
                        <input id="operation_id" name="operation_id" type="text" class="form-control" value="" /> -->
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>

                <div class="row batch-row-title">
                    <div class="col-md-2 col-sm-2 text-center">
                        <div class="col-md-3 col-sm-3">
                        </div>
                        <div class="col-md-9 col-sm-9">
                            Test Slot
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 text-center">
                        UUT Serial Number
                    </div>
                    <div class="col-md-2 col-sm-2 text-center">
                        UUT FAMILY
                    </div>
                    <div class="col-md-3 col-sm-3 text-center">
                        OPERATION
                    </div>
                    <div class="col-md-1 col-sm-1 text-center">
                        Status
                    </div>
                </div>
                <div class="batch-col-row" id="scanin-lu">
                    {% for item in data_scanin %}
                    <!-- <div class="row batch-row-detail {{ "processing" if item|length> 0 }}" -->
                    <div class="row batch-row-detail {{ item.status }}"
                        id="batch-col-row-lu-{{ loop.index }}">
                        <div class="col-md-2 col-sm-2 text-center">
                            <input id="logop_id-{{ loop.index }}" class="hidden batch-logop-lu" value="{{ item.LOGOP }}" />
                            <input id="operation_id-{{ loop.index }}" class="hidden batch-operation_id-lu" value="{{ item.OPERATORID }}" />
                            <input id="code_version{{ loop.index }}" class="hidden batch-code_version-lu"
                                value="{{info_versions[loop.index - 1]}}" />
                            <div class="col-md-3 col-sm-3">
                                {% if item.status == 'verified' %}
                                <input class="check-scanin-lu" id="box-lu-{{ loop.index }}" type="checkbox" />
                                {% endif %}
                            </div>
                            <div class="col-md-9 col-sm-9">
                                <p class="batch-text-p batch-slot_location-lu">{{ item.SLOT }}</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 text-center">
                            <p id="sn-lu-{{ loop.index }}" class="batch-text-p batch-serial_number-lu">{{ item.SERIALNUMBER }}</p>
                        </div>
                        <div class="col-md-2 col-sm-2 text-center">
                            <p class="batch-text-p">{{ item.FAMILY }}</p>
                        </div>
                        <div class="col-md-3 col-sm-3 text-center">
                            <p class="batch-text-p batch-operation-lu">{{ item.OPERATION }}</p>
                        </div>
                        <div class="col-md-1 col-sm-1 text-center batch-text-col">
                            <p class="batch-text-p">
                                {{ item.message }}
                            </p>
                        </div>
                        <div class="col-md-2 col-sm-2 text-center">
                            <div class="col-md-10 col-sm-10 col-sm-offset-2 ">
                                <button type="button" id="resetVerifybtn" class="btn btn-default btn-block"
                                    onclick="Requeue({{ loop.index }})">Requeue</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row hidden" style="margin-bottom:10px;">
                    <div class="col-md-8">
                        <input disabled name="slot_no" id="slot_no" type="text" class="form-control" value="" />
                    </div>
                </div>

                <div class="row alert alert-danger" role="alert">
                    <p class="text-center">Please insert the PIM module to the Test Chassis.</p>
                </div>
                <div class="row modal-btn">
                    <button type="button" id="submitScanin-lu" class="btn btn-primary" onclick="sendScaninlu()"
                        data-dismiss="modal" disabled="disabled">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel">
    <div class="modal-dialog" role="document" style="width:50%">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#EBEBE0;border-bottom:3px solid #9ba300;">
                <button type="button" onClick="" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="batchModalLabel">Status</span></h4>
            </div>
            <div class="modal-body">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm CheckOut -->
<div class="modal fade" id="myConfirmCheckOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#EBEBE0;border-bottom:3px solid #9ba300;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirm Delivery Out Slot <span
                        class="slot-no-heading"></span></h4>
            </div>
            <div class="modal-body">
                Do you want to Delivery Out this serial number?
            </div>
            <div class="modal-footer">
                <button type="button" id="submitCheckOut" class="btn btn-primary" onclick="sendDeliveryout()"
                    data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- Message -->
<div class="modal fade" role="dialog" id="myModalMessage" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4" id="msg_modal" style="min-width: 100%"></div>

                    <!--<div class="col-md-4 col-md-offset-4">22</div>-->
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <!--<div class="col-md-4 col-md-offset-4">22</div>-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Error -->
<div class="modal fade" role="dialog" id="myModalError" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">Error</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4" id="error_msg_modal" style="min-width: 100%"></div>

                    <!--<div class="col-md-4 col-md-offset-4">22</div>-->
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <!--<div class="col-md-4 col-md-offset-4">22</div>-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Loading -->
<div class="modal fade" role="dialog" id="myModalLoading" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Loading</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">Please Wait</div>
                    <!--<div class="col-md-4 col-md-offset-4">22</div>-->
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Response for checkout -->
<div class="modal fade" role="dialog" id="myModalChkout" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">Checkout Information</h4>
                <div class="col-md-4" style="min-width: 100%" id="chkChassis"></div>
                <br>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4" id="chkOut" style="min-width: 100%"></div>

                    <!--<div class="col-md-4 col-md-offset-4">22</div>-->
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <!--<div class="col-md-4 col-md-offset-4">22</div>-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- popup test-->
<div class="popover" role="tooltip" id="test_popup">
    <div class="arrow"></div>
    <h3 class="popover-header"></h3>
    <div class="popover-body">
        <div class="list-group">
            <button style="color:#000" class="list-group-item" onclick="viewInteraction(this)">Interaction</button>
        </div>


    </div>



</div>

<!-- popup empty-->
<div class="popover" role="tooltip" id="empty_popup">
    <div class="arrow"></div>
    <h3 class="popover-header"></h3>
    <div class="popover-body">
        <div class="list-group">
            <button disabled href="#" class="list-group-item" style="color:#999999">View</button>
            <button disabled id="locksi" href="#" style="color:#999999" class="list-group-item" data-toggle="modal"
                data-target="#myModal" data-id="'+slot+'||'+commentTxt+'">Scan-in</button>
            <button disabled href="#" class="list-group-item" style="color:#999999" data-toggle="modal"
                data-target="#myConfirm" onmousedown=setClickedslot()>Abort</button>
            <button disabled href="#" style="color:#999999" class="list-group-item">Delivery</button>
            <button disabled style="color:#999999" href="#" class="list-group-item">Interaction</button>
        </div>

    </div>



</div>

<!-- delivery-out batch modal -->
<div class="modal fade" id="checkoutbatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onClick="" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>

                <h4 class="modal-title" id="myModalLabel">Check-out Batch</h4>
            </div>
            <div class="modal-body">

                <div class="col-sm-12">
                    <div class="panel leftpanelcheckbox select-all">
                        <label for="all"> <input id="all" type="checkbox" style="width: 16px;
                    height: 16px;" />
                            Select all </label>
                    </div>
                </div>

                <div class="checkout-slot">
                    {% for item in tests %}
                    <div class="col-sm-3 checked-box {{ item["test_info"]["status"]|lower if item|length> 0 }}"
                        id="{{ loop.index }}">
                        <div class=" panel {{ " leftpanel" if (loop.index %4) !=0}}">

                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6" id="A01">
                                        <span class="chasisname">{{ info['chassis_name'] }}{{ loop.index }}</span>
                                    </div>
                                    <div class="col-md-6">
                                        {% if item|length > 0 %}
                                        {% if item["test_info"]["status"]|lower == 'failed' or
                                        item["test_info"]["status"]|lower == 'passes' or
                                        item["test_info"]["status"]|lower == 'aborted' %}
                                        <div class="rows text-right addmarginright">
                                            <input id="box{{ loop.index }}" type="checkbox" />
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <form action="/playbox" id="message-add-{{ loop.index }}" method="post">
                                <div class="panel-body">
                                    <div><span class="serial_number"><b>{{ item.serial_number if item|length > 0
                                                }}</b><span id=""></span></span>
                                                {% if item|length > 0 %}
                                                <input type="button" value="+" onclick="addMessageCheckOut({{ loop.index }})" style="float: right;">
                                                <input type="button" value="-" onclick="removeMessageCheckOut({{ loop.index }})" style="float: right;">
                                                {% endif %}

                                    </div>
                                    <input class="uut_log_dir hidden" type="input" value="{{ item.uut_log_dir }}" />
                                    <input class="log_template hidden" type="input"
                                        value="{{ info['log_template'] }}" />
                                    {% if item|length > 0 %}
                                    <input id="code_from" class="code_from hidden" name="code_from"
                                        value="{{ item["code_from"] }}" />
                                    <input id="code_version" class="code_version hidden"
                                        value="{{info_versions[loop.index-1]}}" />
                                        <input class="operation hidden" type="input" id="operation"
                                        name="operation" value="{{ item["operation"] }}" />
                                    <input class="operation_id hidden" type="input" id="operation_id"
                                        name="operation_id" value="{{ item["operation_id"] | replace("th","") }}" />
                                    <input class="result hidden" type="input" value="{{ item["test_info"]["status"] if
                                        item|length> 0 }}" />
                                    <input class="test_mode hidden" type="input" id="test_mode" name="test_mode"
                                        value="{{ item["test_mode"] }}" />
                                    <input class="product_name hidden" type="input" id="product_name" name="product_name"
                                        value="{{ item["product_name"] }}" />
                                    <input class="logop hidden" type="input" id="logop" name="logop" value="{{ item["logop"] }}" />
                                    <input class="message hidden" type="input" value="{{ item["test_info"]["message"]
                                        if item|length> 0 }}" />
                                    <input class="batch_id hidden" type="input" style="width: 20px;"
                                        value="{{ item.batch_id }}" />
                                    <input class="test_fail hidden" type="input" value="{{ item["test_info"]["test_db"]
                                        if item|length> 0 }}" />
                                    <input class="test_abort hidden" type="input" value="{{ item["test_info"]["created"] if item|length> 0 }}" />
                                    <input id="slot_location" name="slot_location" type="text"
                                        class="slot_location hidden"
                                        value="{{ info['chassis_name'] }}{{ loop.index }}" />
                                    <input id="slot_no" name="slot_no" type="text" class="slot_no hidden"
                                        value="{{ loop.index }}" />
                                    <input id="serial_number" name="serial_number" type="text"
                                        class="form-control hidden"
                                        value="{{ item.serial_number if item|length > 0 }}" />
                                    {% endif %}
                                </div>
                                {% if item|length > 0 %}
                                {% if item["test_info"]["status"]|lower == 'failed' or item["test_info"]["status"]|lower
                                == 'passes' or item["test_info"]["status"]|lower == 'aborted' %}
                                <button id="playbox_id_{{ loop.index }}" type="submit" class="btn btn-primary playbox_send" onclick="">PlayBox</button>
                                {% else %}
                                <button type="submit" class="btn btn-primary " onclick=""
                                    disabled="disabled">PlayBox</button>
                                {% endif %}
                                {% else %}
                                <button type="submit" class="btn btn-primary" onclick=""
                                    disabled="disabled">PlayBox</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                    {% for item in chambers %}
                    <div class="col-sm-3 checked-box {{ item["test_info"]["status"]|lower if item|length > 0 }}"
                        id="{{ loop.index + info['slot'] }}">
                        <div class=" panel {{ "leftpanel" if (loop.index %4) != 0}}">

                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6" id="A01">
                                        <span class="chasisname">CHAMBER{{ loop.index + info['slot']}}</span>
                                    </div>
                                    <div class="col-md-6">
                                        {% if item|length > 0  %}
                                        {% if item["test_info"]["status"]|lower == 'failed' or item["test_info"]["status"]|lower == 'passes' or item["test_info"]["status"]|lower == 'aborted' %}
                                        <div class="rows text-right addmarginright">
                                            <input id="box{{ loop.index }}" type="checkbox" />
                                        </div>
                                        {% endif  %}
                                        {% endif  %}
                                    </div>
                                </div>
                            </div>
                            <form action="/playbox" method="post">
                                <div class="panel-body">
                                    <div><span
                                            class="serial_number"><b>{{ item.serial_number if item|length > 0 }}</b><span
                                                id=""></span></span>
                                    </div>
                                    <input class="uut_log_dir hidden" type="input" value="{{ item.uut_log_dir }}" />
                                    <input class="log_template hidden" type="input"
                                        value="{{ info['log_template'] }}" />
                                    {% if item|length > 0  %}
                                    <input id="code_version" class="code_version hidden"
                                        value="{{info_versions[loop.index + info['slot'] -1]}}" />
                                    <input id="code_from" class="code_from hidden" name="code_from"
                                        value="{{ item["code_from"] }}" />
                                    <input class="operation_id hidden" type="input" id="operation_id"
                                        name="operation_id" value="{{ item["operation_id"] | replace("th","") }}" />
                                    <input class="result hidden" type="input"
                                        value="{{ item["test_info"]["status"] if item|length > 0 }}" />
                                    <input class="test_mode hidden" type="input" id="test_mode" name="test_mode"
                                        value="{{ item["test_mode"] }}" />
                                    <input class="logop hidden" type="input" id="logop" name="logop"
                                        value="{{ item["logop"] }}" />
                                    <input class="product_name hidden" type="input" id="product_name" name="product_name"
                                        value="{{ item["product_name"] }}" />
                                    <input class="message hidden" type="input"
                                        value="{{ item["test_info"]["message"] if item|length > 0  }}" />
                                    <input class="batch_id hidden" type="input" style="width: 20px;"
                                        value="{{ item.batch_id }}" />
                                    <input class="test_fail hidden" type="input"
                                        value="{{ item["test_info"]["test_db"] if item|length > 0  }}" />
                                    <input class="test_abort hidden" type="input"
                                        value="{{ item["test_info"]["created"] if item|length > 0  }}" />
                                    <input id="slot_location" name="slot_location" type="text"
                                        class="slot_location hidden" value="chamber{{ loop.index + info['slot'] }}" />
                                    <input id="slot_no" name="slot_no" type="text" class="slot_no hidden"
                                        value="{{ loop.index }}" />
                                    <input id="serial_number" name="serial_number" type="text"
                                        class="form-control hidden"
                                        value="{{ item.serial_number if item|length > 0 }}" />
                                    {% endif  %}
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="modal-btn">
                            <button type="button" id="continue" class="btn btn-default" onclick="Continue()"
                                disabled="disabled" data-dismiss="modal">ContinueTest</button>
                            <button type="button" id="retest" class="btn btn-default" onclick="ReTest()"
                                disabled="disabled" data-dismiss="modal">ReTest</button>
                            <button type="button" id="submitdeliveryout" class="btn btn-primary"
                                onclick="sendDeliveryoutBatch()" disabled="disabled"
                                data-dismiss="modal">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- abort batch modal -->
<div class="modal fade" id="abortbatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onClick="" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>

                <h4 class="modal-title" id="myModalLabel">Abort Batch</h4>
            </div>
            <div class="modal-body">

                <div class="col-sm-12">
                    <div class="panel leftpanelcheckbox select-all">
                        <label> <input id="all-abort" type="checkbox" style="width: 16px;
                        height: 16px;" />
                            Select all </label>
                    </div>
                </div>
                <div class="abort-slot">
                    {% for item in tests %}
                    <div class="col-sm-3 {{ item["test_info"]["status"]|lower if item|length> 0 }}"
                        id="slot-{{ loop.index }}">

                        <div class="panel {{ " leftpanel" if (loop.index %4) !=0}}">

                            <div class="panel-heading checked-box" id="{{ loop.index }}">
                                <div class="row">
                                    <input id="slot_location" name="slot_location" type="text"
                                        class="slot_location hidden"
                                        value="{{ info['chassis_name'] }}{{ loop.index }}" />
                                    <div class="col-md-6" id="A01">
                                        <span class="chasisname">{{ info['chassis_name'] }}{{ loop.index }}</span>
                                    </div>
                                    <div class="col-md-6">
                                        {% if item|length > 0 %}
                                        {% if item["test_info"]["status"]|lower == 'testing' or
                                        item["test_info"]["status"]|lower == 'failing' %}

                                        <div class="rows text-right addmarginright">
                                            <input id="box{{ loop.index }}" type="checkbox" />
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div><span class="serial_number"><b>{{ item.serial_number if item|length > 0 }}</b><span
                                            id=""></span></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                    {% for item in chambers %}
                    <div class="col-sm-3 {{ item["test_info"]["status"]|lower if item|length > 0   }}"
                        id="slot-{{ loop.index + info['slot'] }}">

                        <div class="panel {{ "leftpanel" if (loop.index %4) != 0}}">

                            <div class="panel-heading checked-box" id="{{ loop.index + info['slot'] }}">
                                <input id="slot_location" name="slot_location" type="text" class="slot_location hidden"
                                    value="chamber{{ loop.index + info['slot'] }}" />
                                <div class="row">
                                    <div class="col-md-6" id="A01">
                                        <span class="chasisname">CHAMBER{{ loop.index + info['slot'] }}</span>
                                    </div>
                                    <div class="col-md-6">
                                        {% if item|length > 0  %}
                                        {% if item["test_info"]["status"]|lower == 'testing'  or item["test_info"]["status"]|lower == 'failing'  %}

                                        <div class="rows text-right addmarginright">
                                            <input id="box{{ loop.index }}" type="checkbox" />
                                        </div>
                                        {% endif  %}
                                        {% endif  %}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div><span class="serial_number"><b>{{ item.serial_number if item|length > 0 }}</b><span
                                            id=""></span></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <div class="modal-btn">

                            <button type="button" class="btn btn-primary" onclick="sendAbortBatch()"
                                id="submitabortbatch" disabled="disabled" data-dismiss="modal">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>